<section class="hero">
    <div class="container" s>
        <div class="hero-inner">
            <div class="hero-copy">
                {% include multitone-icon-scientist.html %}
                <span class="icons-features ct_1">🔥 Best modern icon to use in projects.</span>
                <span class="icons-features ct_2">👌 Very easy to add to your project.</span>
                <span class="icons-features ct_3">🔗 svg downloading option available</span>
                <span class="icons-features ct_4">💖 Both lineal & Multitone icons</span>
            </div>
            <div class="hero-copy">
                <h1 class="hero-title mt-0 header-heading" style="margin-bottom: 0px;"><span>Multitone</span><span>Icons</span></h1>
                <article class="markdown-body">
                    {{ site.data.multitone-icons.description | markdownify }}
                </article>
                <div class="hero-cta" style="margin-top: 15px;">
                    <a class="button neo-button" href="#">Pre order now</a>
                    <a class="button neo-button" href="#">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</section>