---
layout: default
---
<section class="icons-section">
    <div class="container">
        <div class="icons-inner section-inner">
            <div class="icons-header text-center">
                {% assign icon_count = site.icons %}
                <h1 class="section-title mt-0 header-heading"><span>{{ page.title }}</span><span>({{ icon_count.size }})</span></h2>
                <article class="markdown-body">
                    {{ content }}
                </article>
            </div>
            <div class="icons-wrap">
                {% assign sorted_icons = site.icons | sort: "name" %}
                {% for icon in sorted_icons %}
                {% include icon-box.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>